.Rproj.user
.Rhistory
.RData
.Ruserdata
data/
results/
plots/
maps/
eqns/
refs/
siting_model/
.ipynb_checkpoints/
scripts/.DS_Store
scripts/old/
scripts/notebooks
scripts/dockerlogin
.DS_Store
NOTES
app.py
requirements-old.txt
grapevie.Rproj
dockerlogin
slurm-*
