attrs @ file:///tmp/build/80754af9/attrs_1604765588209/work
certifi==2020.12.5
click==7.1.2
click-plugins==1.1.1
cligj==0.7.1
cvxpy @ file:///Users/runner/miniforge3/conda-bld/cvxpy_1603433643189/work
ecos @ file:///Users/runner/miniforge3/conda-bld/ecos_1604252831233/work
Fiona==1.8.13.post1
future @ file:///Users/runner/miniforge3/conda-bld/future_1605203679397/work
GDAL==3.0.2
geopandas @ file:///tmp/build/80754af9/geopandas_1594937497867/work
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
munch==2.5.0
numpy @ file:///opt/concourse/worker/volumes/live/a1b5ea96-b05c-40ba-5dfb-4542ece1c186/volume/numpy_and_numpy_base_1603491228242/work
osqp==0.6.1
pandas==1.1.5
pyproj==2.6.1.post1
python-dateutil==2.8.1
pytz @ file:///tmp/build/80754af9/pytz_1606604771399/work
Rtree==0.9.4
scipy==1.2.1
scs @ file:///Users/runner/miniforge3/conda-bld/scs_1604253585400/work
Shapely @ file:///opt/concourse/worker/volumes/live/90b213a3-40f8-45c1-480b-3008028b4f18/volume/shapely_1599817167930/work
six @ file:///opt/concourse/worker/volumes/live/f983ba11-c9fe-4dff-7ce7-d89b95b09771/volume/six_1605205318156/work
